body{
    background-color: #404040;
}

h1 {
    text-align: center;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    color: #bcbcbc;
    background: #0e0e0e;
    border-top: solid 6px #7f7f7f;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

h2 {
  text-align: center;
  color: #bcbcbc;
  padding: 0.5em 0;
  border-top: solid 3px #bcbcbc;
  border-bottom: solid 3px #bcbcbc;
}

h3 {
  text-align: center;
  color: #bcbcbc;
}

th.label01 {
  font-size: 14px;
  text-align: center;
  color: #eeeeee;
  background:#0e0e0e;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

td.label01 {
  font-size: 14px;
  text-align: center;
  color: #0e0e0e;
  background:#eeeeee; 
  padding: 0.1em 0.5em 0.1em 0.5em;
}

td.label01-disabled {
  font-size: 14px;
  text-align: center;
  color: #0e0e0e;
  background:#7f7f7f;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

td.label02 {
  font-size: 14px;
  text-align: left;
  color: #0e0e0e;
  background:#404040; 
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.inputItem01 {
  color: #eeeeee;
  background:#0e0e0e;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.inputItem01-disabled {
  color: #eeeeee;
  background:#404040;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.scrollBox {
  width: 70%; 
  height: 100px; 
  overflow-y: scroll; 
  background:#eeeeee; 
  margin-left:auto; 
  margin-right:auto;
}

.scrollBox02 {
  width: auto; 
  height: 300px; 
  overflow-y: scroll; 
  overflow-x: scroll; 
  background:#1b1b1b;
  padding: 0.3em;
}

.label01 {
  background-color: #0e0e0e;
  /* width: 100px; */
  font-size: 14px;
  font-weight: bold;
  color: #fff;  
  /* margin-bottom: 0.5em; */
  padding-left: 1em;
  padding-right: 0.5em;
}

.btn01 {
    background-color: #404040;
    display:block;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding:16px;
    margin-bottom: 0.5em;
    text-align: center;
    transition: .4s;    
  }
  
  .btn01:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
  }

  .btn02 {
    background-color: #0e0e0e;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    transition: .4s;    
  }
  
  .btn02:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
  }

  .btn02-disabled {
    background-color: #404040;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    transition: .4s;    
  }

  .labelBtn01 {
    background-color: #0e0e0e;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.1em;
    text-align: center;
    transition: .4s;    
  }
  
  .labelBtn01:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
  }

  .labelBtn01-disabled {
    background-color: #404040;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.1em;
    text-align: center;
    transition: .4s;    
  }

  .terms {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }

    #parent {
      display: flex;
    }
    #side-menu {
      flex-grow: 0.05;
    }
    #content {
      flex-grow: 1;
    }

    .err-msg{
      font-size: medium;
      font-weight: bold;
      color: #ff2d2d;
    }

    .scss-msg{
      font-size: medium;
      font-weight: bold;
      color: #2dff2d;
    }