RewriteEngine on
RewriteCond %{REQUEST_URI} !\.css$
# RewriteRule ^Home.php$ http://localhost/PHPSandbox/SalesDataDisplay/View/Login.php [L,R=301]
RewriteRule ^(View|Document|Reports)(.*)$ http://localhost/PHPSandbox/SalesDataDisplay/Login.php [L,R=301]

Options -Indexes

<Files ~ "\.ini">
deny from all
</Files>
