#container {
    display              : grid;
    grid-template-rows   : 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-flow       : dense;
}

#container * {
    display    : grid;
    place-items: center;
    font-size  : large;
    font-weight: 600;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#container2 {
    display              : grid;
    grid-template-rows   : 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-flow       : column dense;
}

#container2 * {
    display    : grid;
    place-items: center;
    font-size  : large;
    font-weight: 600;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#A {
    background: #7fffff;
}

#B {
    grid-row   : span 2;
    grid-column: span 2;
    background : #7fffbf;
}

#C {
    grid-row   : span 2;
    grid-column: span 2;
    background : #7fff7f;
}

#D {
    background: #bfff7f;
}

#E {
    background: #ffff7f;
}

#F {
    background: #ffbf7f;
}