#container {
    display              : grid;
    grid-template-rows   : 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

#container * {
    display    : grid;
    place-items: center;
    font-size  : large;
    font-weight: 600;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#A {
    order     : 4;
    background: #7fffff;
}

#B {
    order     : 2;
    background: #7fffbf;
}

#C {
    order     : 1;
    background: #7fff7f;
}

#D {
    order     : 3;
    background: #bfff7f;
}

#E {
    order     : 6;
    background: #ffff7f;
}

#F {
    order     : 5;
    background: #ffbf7f;
}